# Temel Kütüphaneler
python-dotenv
requests
pandas
numpy

# Veri İşleme & ML
scikit-learn
statsmodels
xgboost
optuna
shap
river

# NLP & Duygu Analizi
transformers
torch

# Arayüz & Görselleştirme
matplotlib
seaborn
tk

# Zaman Serisi & Finans
ta
python-binance
alpha_vantage

# Diğer
tqdm
loguru